body {
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  height: 90vh;
}
.content {
  background-color: white;
  padding: 15px;
  width: 20%;
  border-radius: 20px;
}
img {
  max-width: 100%;
  border-radius: 20px;
}

h2 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  color: hsl(220, 15%, 55%);
}

.text {
  text-align: center;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 80vh;
  }
  .content {
    width: 80%;
  }
  .text {
    padding: 10px;
  }
}
